@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-botao-1: #253C78;
    --botao-1-ativo: #3254ac;
    --cor-botao-2: #ff9b18;
    --botao-2-ativo: #ffb14b;
    --cor-botao-3: #4A7C59;
    --botao-3-ativo: #62A174;
}

html {
    font-family: monospace;
    font-weight: 600;
    background-color: bisque;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.calculadora {
    padding: 3px 5px 8px;
    width: fit-content;
    border: #353B3C solid 10px;
    border-radius: 8px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 5px;
}

.tela {
    grid-area: 1 / 1 / 2 / 5;
    border: black solid 3px;
    border-radius: 8px;
    text-align: end;
    padding: 0.25em;
    font-size: 56px;
    background-color: rgb(177, 177, 177);
}

.botao {
    font-family: monospace;
    font-weight: 500;
    color: white;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.botao-numero {
    background-color: var(--cor-botao-1);
}

.botao:active {
    background-color: var(--botao-1-ativo);    
}

.botao-operacao {
    background-color: var(--cor-botao-3);
}

.botao-operacao:focus {
    background-color: var(--botao-3-ativo);
    color: #353B3C;
}

.botao-clear {
    background-color: var(--cor-botao-2);    
}

.botao-clear:active{
    background-color: var(--botao-2-ativo);
}

.botao-resultado {
    background-color: var(--cor-botao-3);
}

.botao-resultado:active {
    background-color: var(--botao-3-ativo);
}

.botao-0 {
    grid-area: 6 / 1 / 7 / 3;
}

.botao-decimal {
    background-color: var(--cor-botao-1);
}

.botao-decimal:active {
    background-color: var(--botao-1-ativo);
}

.botao-sinal {
    background-color: var(--cor-botao-2);
}

.botao-sinal:active {
    background-color: var(--botao-2-ativo);
}

.botao-porcentagem {
    background-color: var(--cor-botao-2);
}

.botao-porcentagem:active {
    background-color: var(--botao-2-ativo);
}